// VARIABLES

// COLORES
$colors: (
    yellow-mustard: #fcbf49,
    light-red: #ff595e,
    light-blue: #90e0ef,
    neutral-blue: #00b4d8
);

@mixin indicator__level ($width, $color){
    width: $width;
    background-color: $color;
}
