/* CSS Emiliano Kaleb Jiménez Rivera*/
/* 
==================
table of contents 
1. global styles
2. containers
    2.1 global containers
    2.2 specific containers
3. elements
    3.1 header elements
    3.2 main elements
    3.3 card elements
    3.4 footer elements
    3.5 other elements
4. interactions
    4.1 hovers
        - header
        - main
        - card
        - footer
5. animations
6. boostrap
7. responsive
8. utilities


==================
*/

/* 
=============
variables
=============
*/

@import "_variables";


/* 
=============
1. global styles
=============
*/





/* 
=============
2. containers
=============
*/

/* ==== 2.1 globlal containers ==== */



/* ==== 2.2 specific containers ==== */



/* 
=============
3. elements
=============
*/

/* ==== 3.1 header elements ==== */



/* ======================= */

/* ==== 3.2 main elements ==== */


/*posible colors
#fbf8cc, 
#fde4cf, 
#ffcfd2, 
#f1c0e8, 
#cfbaf0, 
#a3c4f3,
#90dbf4,
#8eecf5,
#98f5e1,
#b9fbc0*/

/* images */
@import "_images";


/* subtitles */



/* lines */



/* buttons */



/* links */



/* cards */
.main__card {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 

    &--tip {
        height: 800px;
        width: 280px;
        background-color: #fbf8cc;
        margin: 10px;
    }
}


/* forms */
@import "_forms";


/* tables */
@import "_tables";

/* cells */
.main__cell {
    /* en este caso lo mejor es trabjar con porcentajes, ya que
    no le especificas un tamanio y con ello puedes manipularlo me-
    diante span */
    width: 100%; 
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px black;
    transition-delay: .3s;
    transition-duration: .5s;
    transition-timing-function: ease-out;

    &--horizontal-span {
        grid-column-start: span 2;
    }

    &--vertical-span {
        grid-row-start: span 2;
    }

    &--all-span {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }


    &:hover {
        height: 105%;
        width: 105%;
        transform: translate(-5px, -5px);
        box-shadow: 0px 0px 15px 0px black;
    }
}


/* descriptions*/
.main__description {
    font-size: 18px;
    padding: 20px;

    &--tip {
        @extend .main__description;
        padding: 10px;
    }
}


/* galleries */
.main__gallery {
    margin: 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-auto-rows: 130px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
}



/* special containers */




/* ======================= */

/* ==== 3.3 card elements ==== */



/* ======================= */

/* ==== 3.4 footer elements ==== */



/* ======================= */

/* ==== 3.5 other elements ==== */

.indicator {
    background-color: lightgrey;
    border: solid 1px black;
    border-radius: 10px;
    height: 20px;
    width: 80%;

    &__level {
        height: 100%;
        border-radius: 20px;

        &--nice {
            @include indicator__level(100%, lightgreen);
        }

        &--medium {
            @include indicator__level(60%, yellow);
        }

        &--bad {
            @include indicator__level(10%, lightcoral);
        }
    }
}

/* ======================= */




/* 
=============
5. animations
=============
*/

/* 
=============
6. bootstrap
=============
*/
@import "_bootstrap";




/* 
=============
7. responsive
=============
*/
@import "_responsive";


/* 
=============
8. utilities
=============
*/

.fit {

    &-cover {
        object-fit: cover;
    }

    &-contain {
        object-fit: contain;
    }

    &-fill {
        object-fit: fill;
    }

    &-scale-down {
        object-fit: scale-down;
    }
}

@mixin indicator__level ($width, $color){
    width: $width;
    background-color: $color;
}